Association Rules

In [1]:
#!pip install mlxtend

In [2]:
#Importing Necessary Libraries
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [3]:
#Load the Titanic Dataset
df= pd.read_csv('Titanic.csv')
df

     Class  Gender    Age Survived
0      3rd    Male  Child       No
1      3rd    Male  Child       No
2      3rd    Male  Child       No
3      3rd    Male  Child       No
4      3rd    Male  Child       No
...    ...     ...    ...      ...
2196  Crew  Female  Adult      Yes
2197  Crew  Female  Adult      Yes
2198  Crew  Female  Adult      Yes
2199  Crew  Female  Adult      Yes
2200  Crew  Female  Adult      Yes

[2201 rows x 4 columns]

In [4]:
data= pd.get_dummies(data= df)
data

,Class_1st,Class_2nd,Class_3rd,Class_Crew,Gender_Female,Gender_Male,Age_Adult,Age_Child,Survived_No,Survived_Yes
0,0,0,1,0,0,1,0,1,1,0
1,0,0,1,0,0,1,0,1,1,0
2,0,0,1,0,0,1,0,1,1,0
3,0,0,1,0,0,1,0,1,1,0
4,0,0,1,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...
2196,0,0,0,1,1,0,1,0,0,1
2197,0,0,0,1,1,0,1,0,0,1
2198,0,0,0,1,1,0,1,0,0,1
2199,0,0,0,1,1,0,1,0,0,1
2200,0,0,0,1,1,0,1,0,0,1

In [5]:
score= apriori(data, min_support= 0.2, use_colnames= True)
score

C:\Users\Janhavi\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support                                           itemsets
0   0.320763                                        (Class_3rd)
1   0.402090                                       (Class_Crew)
2   0.213539                                    (Gender_Female)
3   0.786461                                      (Gender_Male)
4   0.950477                                        (Age_Adult)
5   0.676965                                      (Survived_No)
6   0.323035                                     (Survived_Yes)
7   0.231713                           (Class_3rd, Gender_Male)
8   0.284871                             (Class_3rd, Age_Adult)
9   0.239891                           (Survived_No, Class_3rd)
10  0.391640                          (Class_Crew, Gender_Male)
11  0.402090                            (Age_Adult, Class_Crew)
12  0.305770                          (Survived_No, Class_Crew)
13  0.757383                           (Age_Adult, Gender_Male)
14  0.619718                         (Survived_No, Gender_Male)
15  0.653339                           (Survived_No, Age_Adult)
16  0.297138                          (Age_Adult, Survived_Yes)
17  0.209905                (Class_3rd, Age_Adult, Gender_Male)
18  0.216265                (Survived_No, Age_Adult, Class_3rd)
19  0.391640               (Age_Adult, Class_Crew, Gender_Male)
20  0.304407             (Survived_No, Class_Crew, Gender_Male)
21  0.305770               (Survived_No, Class_Crew, Age_Adult)
22  0.603816              (Survived_No, Age_Adult, Gender_Male)
23  0.304407  (Survived_No, Class_Crew, Gender_Male, Age_Adult)

In [6]:
model= association_rules(score)
model

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Class_3rd),(Age_Adult),0.320763,0.950477,0.284871,0.888102,0.934375,-0.020008,0.442572,-0.093712
1,(Class_Crew),(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621,0.322047
2,(Class_Crew),(Age_Adult),0.402090,0.950477,0.402090,1.000000,1.052103,0.019913,inf,0.082827
3,(Gender_Male),(Age_Adult),0.786461,0.950477,0.757383,0.963027,1.013204,0.009870,1.339441,0.061028
4,(Survived_No),(Gender_Male),0.676965,0.786461,0.619718,0.915436,1.163995,0.087312,2.525187,0.436144
5,(Survived_No),(Age_Adult),0.676965,0.950477,0.653339,0.965101,1.015386,0.009900,1.419023,0.046906
6,(Survived_Yes),(Age_Adult),0.323035,0.950477,0.297138,0.919831,0.967757,-0.009900,0.617734,-0.046906
7,"(Class_3rd, Gender_Male)",(Age_Adult),0.231713,0.950477,0.209905,0.905882,0.953082,-0.010333,0.526181,-0.060217
8,"(Survived_No, Class_3rd)",(Age_Adult),0.239891,0.950477,0.216265,0.901515,0.948487,-0.011746,0.502848,-0.066686
9,"(Age_Adult, Class_Crew)",(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621,0.322047
10,"(Class_Crew, Gender_Male)",(Age_Adult),0.391640,0.950477,0.391640,1.000000,1.052103,0.019395,inf,0.081404
11,(Class_Crew),"(Age_Adult, Gender_Male)",0.402090,0.757383,0.391640,0.974011,1.286022,0.087104,9.335480,0.371976
12,"(Survived_No, Class_Crew)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983,0.302519
13,"(Survived_No, Class_Crew)",(Age_Adult),0.305770,0.950477,0.305770,1.000000,1.052103,0.015143,inf,0.071335
14,"(Survived_No, Age_Adult)",(Gender_Male),0.653339,0.786461,0.603816,0.924200,1.175139,0.089991,2.817152,0.429921
15,"(Survived_No, Gender_Male)",(Age_Adult),0.619718,0.950477,0.603816,0.974340,1.025106,0.014788,1.929980,0.064404
16,(Survived_No),"(Age_Adult, Gender_Male)",0.676965,0.757383,0.603816,0.891946,1.177669,0.091095,2.245337,0.467023
17,"(Survived_No, Class_Crew, Gender_Male)",(Age_Adult),0.304407,0.950477,0.304407,1.000000,1.052103,0.015075,inf,0.071195
18,"(Survived_No, Class_Crew, Age_Adult)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983,0.302519
19,"(Survived_No, Class_Crew)","(Age_Adult, Gender_Male)",0.305770,0.757383,0.304407,0.995542,1.314450,0.072822,54.427079,0.344592

In [7]:
model[model['lift']>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
1,(Class_Crew),(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621,0.322047
2,(Class_Crew),(Age_Adult),0.402090,0.950477,0.402090,1.000000,1.052103,0.019913,inf,0.082827
3,(Gender_Male),(Age_Adult),0.786461,0.950477,0.757383,0.963027,1.013204,0.009870,1.339441,0.061028
4,(Survived_No),(Gender_Male),0.676965,0.786461,0.619718,0.915436,1.163995,0.087312,2.525187,0.436144
5,(Survived_No),(Age_Adult),0.676965,0.950477,0.653339,0.965101,1.015386,0.009900,1.419023,0.046906
9,"(Age_Adult, Class_Crew)",(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621,0.322047
10,"(Class_Crew, Gender_Male)",(Age_Adult),0.391640,0.950477,0.391640,1.000000,1.052103,0.019395,inf,0.081404
11,(Class_Crew),"(Age_Adult, Gender_Male)",0.402090,0.757383,0.391640,0.974011,1.286022,0.087104,9.335480,0.371976
12,"(Survived_No, Class_Crew)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983,0.302519
13,"(Survived_No, Class_Crew)",(Age_Adult),0.305770,0.950477,0.305770,1.000000,1.052103,0.015143,inf,0.071335
14,"(Survived_No, Age_Adult)",(Gender_Male),0.653339,0.786461,0.603816,0.924200,1.175139,0.089991,2.817152,0.429921
15,"(Survived_No, Gender_Male)",(Age_Adult),0.619718,0.950477,0.603816,0.974340,1.025106,0.014788,1.929980,0.064404
16,(Survived_No),"(Age_Adult, Gender_Male)",0.676965,0.757383,0.603816,0.891946,1.177669,0.091095,2.245337,0.467023
17,"(Survived_No, Class_Crew, Gender_Male)",(Age_Adult),0.304407,0.950477,0.304407,1.000000,1.052103,0.015075,inf,0.071195
18,"(Survived_No, Class_Crew, Age_Adult)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983,0.302519
19,"(Survived_No, Class_Crew)","(Age_Adult, Gender_Male)",0.305770,0.757383,0.304407,0.995542,1.314450,0.072822,54.427079,0.344592

In [8]:
#Supermarket
df= pd.read_csv('Supermarket.csv')
df

    ID                 Products
0    1       Milk, bread, sauce
1    2  Milk, Tea powder, bread
2    3       Bread, Jam, Butter
3    4            Bread, Butter
4    5             Maggie,Sauce
5    6      Maggie,Cheese,Sauce
6    7      Maggie,Cheese,Sauce
7    8     Peanut butter, Bread
8    9      Coffee, Sugar, Milk
9   10              Coffee,Milk
10  11      Maggie,Cheese,Sauce
11  12       Bread, Jam, Butter
12  13            Butter,Cheese
13  14      Maggie,Cheese,Sauce
14  15            Maggie,Bread
15  16         Bread, Torch,Jam
16  17       Bread, Jam, Butter
17  18         Jam,Butter,Torch
18  19       Bread, Jam, Butter
19  20  CornFlakes, Milk, Bread

In [9]:
text= 'Milk, Jam, Bread'
text.split(',')

['Milk', ' Jam', ' Bread']

In [10]:
def split(text):
    return text.split(',')

In [11]:
data= list(df['Products'].apply(split))
data

[['Milk', ' bread', ' sauce'],
 ['Milk', ' Tea powder', ' bread'],
 ['Bread', ' Jam', ' Butter'],
 ['Bread', ' Butter'],
 ['Maggie', 'Sauce'],
 ['Maggie', 'Cheese', 'Sauce'],
 ['Maggie', 'Cheese', 'Sauce'],
 ['Peanut butter', ' Bread'],
 ['Coffee', ' Sugar', ' Milk'],
 ['Coffee', 'Milk'],
 ['Maggie', 'Cheese', 'Sauce'],
 ['Bread', ' Jam', ' Butter'],
 ['Butter', 'Cheese'],
 ['Maggie', 'Cheese', 'Sauce'],
 ['Maggie', 'Bread '],
 ['Bread', ' Torch', 'Jam'],
 ['Bread', ' Jam', ' Butter'],
 ['Jam', 'Butter', 'Torch'],
 ['Bread', ' Jam', ' Butter'],
 ['CornFlakes', ' Milk', ' Bread']]

In [12]:
te= TransactionEncoder()

encoded_df= pd.DataFrame(te.fit_transform(data), columns=te.columns_)
encoded_df

,Bread,Butter,Jam,Milk,Sugar,Tea powder,Torch,bread,sauce,Bread,...,Butter,Cheese,Coffee,CornFlakes,Jam,Maggie,Milk,Peanut butter,Sauce,Torch
0,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,True,False,False,False
2,False,True,True,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,True,False
5,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,True,False,False,True,False
6,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,True,False,False,True,False
7,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
8,False,False,False,True,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,True,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,True,False,False,True,False
11,False,True,True,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,True,True,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,True,False,False,True,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
15,False,False,False,False,False,False,True,False,False,True,...,False,False,False,False,True,False,False,False,False,False
16,False,True,True,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,True,False,False,False,False,True
18,False,True,True,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
19,True,False,False,True,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False

In [13]:
te.columns_

[' Bread',
 ' Butter',
 ' Jam',
 ' Milk',
 ' Sugar',
 ' Tea powder',
 ' Torch',
 ' bread',
 ' sauce',
 'Bread',
 'Bread ',
 'Butter',
 'Cheese',
 'Coffee',
 'CornFlakes',
 'Jam',
 'Maggie',
 'Milk',
 'Peanut butter',
 'Sauce',
 'Torch']

In [14]:
encoded_df.replace(False, 0, inplace= True)
encoded_df.replace(True, 1, inplace= True)

In [15]:
encoded_df

,Bread,Butter,Jam,Milk,Sugar,Tea powder,Torch,bread,sauce,Bread,...,Butter,Cheese,Coffee,CornFlakes,Jam,Maggie,Milk,Peanut butter,Sauce,Torch
0,0,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
5,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
6,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
7,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
8,0,0,0,1,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
11,0,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
15,0,0,0,0,0,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,0
16,0,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,1
18,0,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
19,1,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [16]:
scores= apriori(encoded_df, min_support= 0.2, use_colnames= True)
scores

C:\Users\Janhavi\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support                 itemsets
0      0.25                ( Butter)
1      0.20                   ( Jam)
2      0.30                  (Bread)
3      0.25                 (Cheese)
4      0.30                 (Maggie)
5      0.25                  (Sauce)
6      0.20          ( Jam,  Butter)
7      0.25         ( Butter, Bread)
8      0.20            ( Jam, Bread)
9      0.20         (Cheese, Maggie)
10     0.20          (Cheese, Sauce)
11     0.25          (Sauce, Maggie)
12     0.20   ( Jam,  Butter, Bread)
13     0.20  (Cheese, Sauce, Maggie)

In [17]:
model= association_rules(scores)
model

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,( Jam),( Butter),0.20,0.25,0.20,1.000000,4.000000,0.1500,inf,0.937500
1,( Butter),( Jam),0.25,0.20,0.20,0.800000,4.000000,0.1500,4.00,1.000000
2,( Butter),(Bread),0.25,0.30,0.25,1.000000,3.333333,0.1750,inf,0.933333
3,(Bread),( Butter),0.30,0.25,0.25,0.833333,3.333333,0.1750,4.50,1.000000
4,( Jam),(Bread),0.20,0.30,0.20,1.000000,3.333333,0.1400,inf,0.875000
5,(Cheese),(Maggie),0.25,0.30,0.20,0.800000,2.666667,0.1250,3.50,0.833333
6,(Cheese),(Sauce),0.25,0.25,0.20,0.800000,3.200000,0.1375,3.75,0.916667
7,(Sauce),(Cheese),0.25,0.25,0.20,0.800000,3.200000,0.1375,3.75,0.916667
8,(Sauce),(Maggie),0.25,0.30,0.25,1.000000,3.333333,0.1750,inf,0.933333
9,(Maggie),(Sauce),0.30,0.25,0.25,0.833333,3.333333,0.1750,4.50,1.000000
10,"( Jam, Butter)",(Bread),0.20,0.30,0.20,1.000000,3.333333,0.1400,inf,0.875000
11,"( Jam, Bread)",( Butter),0.20,0.25,0.20,1.000000,4.000000,0.1500,inf,0.937500
12,"( Butter, Bread)",( Jam),0.25,0.20,0.20,0.800000,4.000000,0.1500,4.00,1.000000
13,( Jam),"( Butter, Bread)",0.20,0.25,0.20,1.000000,4.000000,0.1500,inf,0.937500
14,( Butter),"( Jam, Bread)",0.25,0.20,0.20,0.800000,4.000000,0.1500,4.00,1.000000
15,"(Cheese, Sauce)",(Maggie),0.20,0.30,0.20,1.000000,3.333333,0.1400,inf,0.875000
16,"(Cheese, Maggie)",(Sauce),0.20,0.25,0.20,1.000000,4.000000,0.1500,inf,0.937500
17,"(Sauce, Maggie)",(Cheese),0.25,0.25,0.20,0.800000,3.200000,0.1375,3.75,0.916667
18,(Cheese),"(Sauce, Maggie)",0.25,0.25,0.20,0.800000,3.200000,0.1375,3.75,0.916667
19,(Sauce),"(Cheese, Maggie)",0.25,0.20,0.20,0.800000,4.000000,0.1500,4.00,1.000000